<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
  <a href="#last">
  <div id="header" class="col-xs-12">
    <div id="channel_logo" class="col-xs-2">
      <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" height="40px">
    </div>
    <div id="channel_name" class="col-xs-10">
      <h3>Inochi Gakusei Project</h3>
    </div>
  </div>
  </a>
  <div id="main" class="col-xs-12">
    <div id="timeline" class="col-xs-12">
      <div id="messagebox">
        <div id="user_picture" class="col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
      <div class="messagebox" id="last">
        <div class="user_picture col-xs-2">
          <img src="../public/pictures/inochi_logo.png" alt="inochi_logo" width="100%">
        </div>
        <div class="message_body col-xs-10">
          <p class="username">Inochi Gakusei Project</p>
          <p class="message_content">test</p>
        </div>
      </div>
    </div>
    <div id="input" class="col-xs-12">
      <div class="input-group input-group-lg col-xs-12">
        <input type="text" id="input_text" class="form-control" aria-describedby="basic-addon1" placeholder="Message">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
