/* divの配置、サイズ、余白 */
#header {
  height: 80px;
}

#channel_logo {
  padding: 20px 0px 20px 10px;
}

#channel_name {
  padding-top: 10px;
}

#timeline {
  overflow: auto;
  padding-top: 20px;
  height: 590px;
}

.messagebox {
  height: 100px;
}

.user_picture {
  height: 20px;
}

.message_body {
  height: 80px;
}

/* 色、テキストサイズなど */
#header {
  background-color: DarkMagenta;
  color: white;
}

.username {
  font-size: 20px;
}

.message_content {
  word-wrap: break-word;
  font-size: 15px;
}

#input_text {
  font-size: 15px;
}
